:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #2196f3;
  --white-color: #fff;
  --black-color: #000;
  --dark-grey-color: #2f303a;
  --light-grey-color: #757575;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --light-blue-color: #188ce8;
  --light-light-grey-color: #f5f4fa;
  --bg-team-color: #f5f5f5;
  --header-line-color: #ececec;
  --border-portfolio: #eeeeee;
  --bg-hero: #c4c4c4;
  --social-svg: #afb1b8;
}

body {
  font-family: var(--main-font);
  color: var(--accent-color);
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/*===========COMPONENTS==========*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  bottom: 0;
  /* border: -1px; */
}
.position-studio {
  position: relative;
}

.position-portfolio {
  position: relative;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*=========END COMPONENTS==========*/

/*==========HEADER==========*/
.header {
  border-bottom: 1px solid var(--header-line-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-light {
  color: var(--black-color);
}

.logo-span {
  color: var(--secondary-color);
}

.navigation-list {
  display: flex;
  text-align: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.link-header {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header:hover,
.link-header:focus {
  color: var(--secondary-color);
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-grey-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--secondary-color);
}

.header-svg {
  margin-right: 10px;
  fill: var(--light-grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover .header-svg,
.link-contacts:focus .header-svg {
  fill: var(--secondary-color);
}

.header-link-item {
  display: flex;
  margin-right: 50px;
}

/*==========HEADER==========*/

/* =========HERO========== */
.hero {
  background: var(--dark-grey-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/bg-image.jpg");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 676px;
  margin: auto;
}

.hero-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--secondary-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--light-blue-color);
  color: var(--white-color);
}

/* =========END HERO========== */

/* =========SKILLS========== */
.skills-list {
  display: flex;
  justify-content: flex-start;
}

.skills-list-item {
  width: 270px;
}

.skills-list-item:not(:last-child) {
  margin-right: 30px;
}

.skills-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills-list-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}

.skills-svg {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--light-light-grey-color);
  height: 120px;
  width: 270px;
  align-items: center;
}
/* =========END SKILLS========== */

/* =========WORK========== */
.work {
  padding-top: 0;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-list-item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.work-lower-paragraph {
  font-weight: bold;
  font-style: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

.work-lower-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
/* =========END WORK========== */

/* =========END TEAM========== */
.team {
  background-color: var(--light-light-grey-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  text-align: center;
  padding: 30px 30px;
  background-color: var(--white-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
  margin-bottom: 28px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--secondary-color);
}

.social-svg {
  fill: var(--social-svg);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover .social-svg,
.social-list-item:focus .social-svg {
  fill: var(--white-color);
}

/* =========END TEAM========== */

/*=========REGULAR CLIENTS========== */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-svg);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:hover .clients-list-link,
.clients-list-item:focus .clients-list-link {
  border-color: var(--secondary-color);
}

.clients-svg {
  fill: var(--social-svg);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-svg,
.clients-list-link:focus .clients-svg {
  fill: var(--secondary-color);
}

/*=========REGULAR CLIENTS========== */

/* =========FOOTER========== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-grey-color);
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: var(--white-color);
}

.address {
  margin-top: 20px;
}

.footer-adress {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--rgba-color);
}

.mail {
  margin-bottom: 9px;
}

.footer-social {
  display: flex;
}

.footer-social-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-wrapper-contacts {
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links:hover,
.footer-social-links:focus {
  background-color: var(--secondary-color);
}

.footer-social-svg {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item:hover .social-svg,
.footer-social-list-item:focus .social-svg {
  fill: var(--white-color);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

/* =========END FOOTER========== */
/* =========BUTTON LIST========== */
.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.portfolio-list-button-item:not(:last-child) {
  margin-right: 6px;
}

.button-portfolio {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--light-light-grey-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}

/* =========END BUTTON LIST========== */

/* =========PORTFOLIO========== */

.border-portfolio {
  border: 1px solid var(--border-portfolio);
  border-top: none;
  padding: 20px 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.portfolio-list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}

.portfolio-list-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}

.portfolio-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list-link:hover .portfolio-overlay-paragraph,
.portfolio-list-link:focus .portfolio-overlay-paragraph {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-overlay-paragraph {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  /* overflow: scroll; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
/* =========END PORTFOLIO========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: transform background-color box-shadow fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-svg {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--black-color);
  border-radius: 50%;
  cursor: pointer;
}
/*==========MODAL WINDOW===========*/

/*==========END MODAL WINDOW===========*/
